.main {
  display: flex;
  justify-content: center;
  text-align: center;
}
.sub-main {
  width: 50%;

  .forgetpassword-typo {
    font-size: 22px;
    margin-bottom: 57px;
    font-weight: 700;
  }

  .reset-typo {
    font-weight: 500;
    margin-bottom: 32px;
    font-size: 18px;
    text-align: left;
  }
  .email-typo {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: left;
  }

  .text-field {
    height: 35px;
    font-weight: 400;
    font-size: 18px;
  }
  .forget-button {
    width: 265px;
    height: 40px;
    border-radius: 20px;
    background-color: #b74e48;
    color: white;
    margin-top: 74px;
    margin-bottom: 200px;
  }
}
