.main-div {
 

  .card-class {
    text-align: center;
    background-color: #b0b8b2;
  }
  .number-typo {
    color: #ffffff;
    font-weight: 700;
    font-size: 64px;
  }

  .title-typo {
    color: #ffffff;
    font-size: 22px;
  }
}
