.form-label{
    margin-top: 10px;
    font-size: 18px!important;
    font-weight: 500!important;
    margin-bottom: 10px !important;
}
.text-feild{
   border: 1px solid black!important;
    margin-bottom: 20px !important;
    height: 34px!important;
}
.edit-profile {
    text-align: end!important;
    margin-right: 30px!important;
    font-weight: 700!important;
    color: #607163!important;
}

.my-profile {
    font-weight: 700!important;
    font-size: 22px!important;
    text-align: center!important;
}

.main-grid {
    justify-content: center!important;
}

.submit-button {
    height: 40px!important;
    width: 265px!important;
    border-radius: 20px!important;
    background-color: #B74E48!important;
    margin-bottom: 90px!important;
}
