.main {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .sub-main {
    max-width: 50%;
  

    .forget-typo {
      font-weight: 700;
      font-size: 22px;
      line-height: 33px;
      margin-bottom: 133px;
    }
    .oldpassword-typo{
      text-align: left;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 20px;
    }

    .newpassword-typo {
      text-align: left;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      margin-top: 50px;
      
    }
    .new-field {
     height: 35px;
    }
  
    .confirm-typo {
      margin-top: 50px;
      text-align: left;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 20px;
    }
  
  
    .submit-button {
      color: #ffffff;
      background-color: #b74e48;
      border-radius: 20px;
      width: 265px;
      height: 40px;
      border-radius: 20px;
      margin-top: 89px;
      margin-bottom: 300px;
    }
    .confirm-field{
      height: 35px;
    }
  }
  